---
// お問い合わせセクション（p-contact）
import Heading from "../Heading.astro";
import FrontButton from "../FrontButton.astro";

const CONTACT_URL = "https://forms.gle/TMX7WMkjz2tADSGe6";
---

<section class="p-contact" id="contact">
  <div class="p-contact__inner l-inner">
    <Heading title="Contact" subtitle="お問い合わせ" />
    <div class="p-contact__body">
      <p class="p-contact__text">
        DojoCon Japan 2026についてのお問い合わせは<br
          class="u-br--sp-none"
        />以下のリンク先（Googleフォーム）よりお願いいたします。
      </p>
    </div>
    <div class="p-contact__btn">
      <FrontButton href={CONTACT_URL} external>お問い合わせフォーム</FrontButton>
    </div>
  </div>
</section>
