---
// トップ最上部のヒーロー（p-hero）
---

<div class="p-hero">
  <div class="p-hero__inner">
    <h1 class="p-hero__heading">
      <img class="p-hero__logo" src="/images/common/logo.webp" alt="DojoCon Japan 2026" width="553" height="173" />
      <img
        class="p-hero__tagline"
        src="/images/front/tagline.svg"
        alt="わかちあう、わかりあう"
        width="572"
        height="45"
      />
    </h1>
    <p class="p-hero__date">
      2026.11.01 |SUN|<br />
      岩手県盛岡市中ノ橋通1丁目1-10<br class="u-br--pc-tab-none" />プラザおでって
    </p>
  </div>
</div>
