---
// お知らせセクション（p-news）。最新5件をコレクションから表示。
import Heading from "../Heading.astro";
import NewsList from "../NewsList.astro";
import FrontButton from "../FrontButton.astro";
import { getNews } from "../../lib/news";

const posts = await getNews(5);
---

<section class="p-news">
  <div class="p-news__inner l-inner">
    <Heading title="News" subtitle="お知らせ" />
    <NewsList posts={posts} />
    <div class="p-news__more">
      <FrontButton href="/news/">全てのお知らせをみる</FrontButton>
    </div>
  </div>
</section>
