---
// 主催・後援セクション（p-organizer）
import Heading from "../Heading.astro";
---

<section class="p-organizer">
  <div class="p-organizer__inner l-inner">
    <div class="p-organizer__group">
      <Heading title="Organized by" subtitle="主催" />
      <ul class="p-organizer__list">
        <li class="p-organizer__item">DojoCon Japan 実行委員会</li>
        <li class="p-organizer__item">一般社団法人 CoderDojo Japan</li>
      </ul>
    </div>

    <div class="p-organizer__group">
      <Heading title="Supported by" subtitle="後援" />
      <ul class="p-organizer__list">
        <li class="p-organizer__item">Raspberry Pi財団</li>
        <li class="p-organizer__item">岩手県滝沢市</li>
      </ul>
    </div>
  </div>
</section>
