---
// 開催概要セクション（p-outline）
import Heading from "../Heading.astro";
---

<section id="outline" class="p-outline">
  <div class="p-outline__inner l-inner">
    <Heading title="Outline" subtitle="開催概要" />
    <div class="p-outline__content">
      <p class="p-outline__free">
        <span class="u-pink">参</span><span class="u-violet">加</span><span class="u-blue">無</span><span
          class="u-yellow">料</span
        >
      </p>
      <dl class="p-outline__detail">
        <div class="p-outline__detail-item">
          <dt class="p-outline__dt">開催日時</dt>
          <dd class="p-outline__dd">
            <p class="p-outline__dd-text">2026.11.01 SUN</p>
            <p class="p-outline__dd-text">10:00-17:00</p>
          </dd>
        </div>
        <div class="p-outline__detail-item">
          <dt class="p-outline__dt p-outline__dt--wide">会場</dt>
          <dd class="p-outline__dd">
            <p class="p-outline__venue">
              盛岡市観光文化交流センター<span class="p-outline__venue-name">プラザおでって</span>
            </p>
            <p class="p-outline__address">岩手県盛岡市中ノ橋通1丁目1-10</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
