---
// テーマ紹介セクション（p-theme）
---

<section class="p-theme">
  <div class="p-theme__inner l-inner">
    <h2 class="p-theme__heading">DojoCon Japan 2026 Theme</h2>
    <p class="p-theme__tagline">
      <img src="/images/front/tagline.svg" alt="わかちあう、わかりあう" width="855" height="67" />
    </p>
    <div class="p-theme__body">
      <p class="p-theme__text">
        CoderDojoには、地域も立場も違うさまざまな人たちが集まっています。<br
        />子どもたちの「やってみたい」を応援する人。<br />道場を続ける人。新しく始めようとする人。<br
        />それぞれの経験や思いを持ち寄り、話し、聞き、わかちあうことで、<br />少しずつお互いをわかりあっていきます。
      </p>
      <p class="p-theme__text">
        ロゴは盛岡城跡の石垣とステンドグラスをイメージしました。<br
        />さまざまな色や形を持つ個々がその形を保ったまま1つの形を成す姿は、<br
        />多様な価値観を持つ人たちが集まり1つの場をつくるCoderDojoの姿にも重なります。
      </p>
      <p class="p-theme__text">
        DojoCon Japan 2026は、全国のCoderDojoに関わる人たちが集い、<br
        />互いの思いと経験をわかちあう、わかりあう1日です。
      </p>
    </div>
  </div>
</section>
