$main-pink: #ee859a;
$main-violet: #9699cb;
$main-yellow: #fdd34e;
$main-blue: #00b1a9;
$main-green: #89c3a0;
$text-color: #231815;


$bp-up: (
	'md': 'screen and (min-width: 600px)',
	'lg': 'screen and (min-width: 960px)',
	'xl': 'screen and (min-width: 1200px)',
) !default;

$bp-down: (
	'md': 'screen and (max-width: 599px)',
	'lg': 'screen and (max-width: 959px)',
	'xl': 'screen and (max-width: 1199px)',
) !default;

$bp-between: (
	'md': 'screen and (min-width:600px) and (max-width: 959px)',
) !default;
