---
// 右下の「ページ上部へ戻る」ボタン（モックの c-back-to-top を移植。挙動は BaseLayout の script）
---

<button class="c-back-to-top" id="js-back-to-top" type="button" aria-label="ページ上部へ戻る">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2.5"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <polyline points="18 15 12 9 6 15"></polyline>
  </svg>
</button>
